.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #ff8c00, #ff4500);
  font-family: "Poppins", sans-serif;
}

.login-card {
  background: white;
  padding: 40px 35px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  width: 350px;
  text-align: center;
}

h2 {
  color: #ff4500;
  margin-bottom: 10px;
}

.subtitle {
  color: #555;
  margin-bottom: 25px;
}

.input-group {
  text-align: left;
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 15px;
}

.login-btn {
  width: 100%;
  background-color: #ff4500;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background 0.3s;
}

.login-btn:hover {
  background-color: #e03e00;
}

.footer-text {
  margin-top: 15px;
  color: #555;
}

.footer-text a {
  color: #ff4500;
  text-decoration: none;
  font-weight: 600;
}
