body {
  font-family: Arial, sans-serif;
  background-color: #fefcf7;
}

.form-container {
  max-width: 420px;
  margin: 40px auto;
  background-color: #fffdf7;
  padding: 25px 30px;
  border-radius: 12px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
}

.form-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
}

.logo-circle {
  width: 50px;
  height: 50px;
  background-color: #f4821f;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 24px;
}

.title h2 {
  margin: 0;
  color: #165f36;
  font-weight: 700;
}

.form-title {
  color: #f4821f;
  font-weight: 800;
  margin: 20px 0;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
  color: #165f36;
  margin-bottom: 5px;
  margin-top: 10px;
}

input {
  padding: 10px;
  border: 1.5px solid #ccc;
  border-radius: 6px;
  outline: none;
  font-size: 15px;
}

input:focus {
  border-color: #165f36;
}

button {
  margin-top: 20px;
  background-color: #165f36;
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #124a2c;
}
