@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@layer base {
  button {
    cursor: pointer;
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes number {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
